.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.logo-container {
  width: 80%;
  display: flex;
  justify-content: center;
}
.logo-container svg {
  width: 100%;
  height: auto;
  overflow: visible;
}
