.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo-container svg {
  width: 150%;
  height: 100%;
  overflow: visible;
  min-height: 1250px;
}

@media (max-width: 1050px) {
  .logo-container svg {
    min-height: 1000px;
  }

  @media (max-width: 650px) {
  .logo-container svg {
    min-height: 600px;
      padding: 1rem;

  }
}
